.android
.anydesk
.aws
.bun
.cache
.cargo
.cert
.conda
.config
.degit
.docker
.dprint
.electron-gyp
.expo
.fnm
.git
.gitmoji
.gnome
.gnupg
.gradle
.gsutil
.ipython
.java
.lldb
.local
.m2
.macromedia
.miniconda
.mongodb
.mozilla
.npm
.nv
.pki
.rustup
.screenlayout
.ssh
.th-client
.vim
.vscode
.vscode-react-native
.wdm
.yarn

Desktop
Documents
go
Pictures
Projects
scripts
Secrets
